<% if collection.length > 0 -%>
	<ul>
		<% collection.each do |object| -%>
			<li>
				<%= object.title %>
				<ul class="actions">
					<li><%= link_to "Edit", edit_resource_path(object) %></li>
				</ul>
			</li>
		<% end -%>
	</ul>
<% else -%>
	<p>No <%= resource_class.name.underscore.humanize.downcase.pluralize %> created!</p>
<% end -%>


<%= link_to "Add #{resource_class.name.underscore.humanize.downcase}", new_resource_path %>