<h1>Login</h1>
 
<% simple_form_for @user_session, :url => admin_user_session_path do |f| %>
	<fieldset>
		<legend>User Login</legend>
  		<%= f.input :username %>
		<%= f.input :password %>
		<%= f.button :submit, "Login" %>
	</fieldset>
<% end %>